<div class="accountpage">
<h2><%= resource_name.to_s.humanize %> accounts page</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  <% @user.build_performer  unless @user.performer %>
  <%= f.fields_for :performer, @user.performer do |per| %>
      <%= per.input :first_name %>
      <%# per.input :white_label_id %>
      <%# per.input :location_id %>
      <%= per.input :avatar %>
      <%# f.input :location %>
      <%# per.label "Categories" %>
      <%# per.association :clip_categories, :label => "Categories", :wrapper_html => { :id => "categories_multiselect", :multiselect => true }%>
      <%= per.input :photo_id %>
      <%# per.input :profile_thumb %>
      <%# per.input :profile_gif %>
    <% end %>
    
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
<%= link_to "Back", :back %>
</div>