          <div class="span4 clip btn-dark">
            <a class="" href="http://www.customs4u.com/admin/people/p2rp-create/performer">
              <%=image_tag('addperformer.png')%>
              <span>Add Performer</span>
            </a>
          </div>

        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/performer/manage">
            <%= image_tag('manage_performer.png')%>
            <span><%= link_to 'Manage performers', performers_path %></span>
          </a>
        </div>
  
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/customer/manage">
            <%= link_to image_tag('manage_performer.png')%>
            <span>Manage Customers</span>
          </a>
        </div>
  
        <div class="span4 clip btn-dark">
          <a class="" href="http://www.customs4u.com/manage-site">
            <%= image_tag('manage-site.png')%>
            <span>Manage Site</span>
          </a>
        </div>
  
        <div class="span4 clip btn-dark">
            <%= image_tag('allorders.png') %>
            <span><%= link_to 'All Orders', orders_path %></span>
        </div>

        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/node/add/make-payment">
            <%= image_tag('make_payments.png') %>
            <span>Make Payouts</span>
          </a>
        </div>

        <div class="span4 clip btn-dark">
          <a class="" href="http://www.customs4u.com/user/1/edit">
            <%= image_tag('Edit_Account.png')%>
            <span>Edit Account</span>
          </a>
        </div>
        
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/dashboard/theme-option">
            <%= image_tag('theme_option.png')%>
            <span>Theme Option</span>
          </a>
        </div>
        
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/subsite/manage">
             <%= image_tag('manage-site.png')%>
            <span>Manage Subsite</span>
          </a>
        </div>
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/admin/people/p2rp-create/siteadmin">
            <%= image_tag('create_subsite.png')%>
            <span>Create Subsite</span>
          </a>
        </div>
        
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/manage/markup">
            <%= image_tag('manage_markup.png')%>
            <span>Manage Markup</span>
          </a>
        </div>
        