<h1>Listing orders</h1>

<table id="order_table">
  <thead>
    <tr>
      <th>Location</th>
      <th>Performer</th>
      <th>Duration</th>
      <th>Quality</th>
      <th>Delivery</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
     <tr>
        <td><%= order.location.name %></td>
        <td><%= order.performer.first_name %></td>
        <td><%= order.duration.time %></td>
        <td><%= order.quality.name %></td>
        <td><%= order.delivery_time.duration %></td>
        <td><%= order.clip_category.name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<% if user_signed_in?  %>
  
<% end %>

<%# link_to 'New Order', new_order_path %>
