<%= simple_form_for(@performer,:html => {:multipart => true} ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :white_label_id %>
    <%= f.input :location_id %>
    <%= f.file_field :avatar %>
    <%# f.input :location %>
    <%= f.label "Categories" %>
    <%= f.association :clip_categories, :label => "Categories", :wrapper_html => { :id => "categories_multiselect", :multiselect => true }%>
    <%= f.input :photo_id %>
    <%= f.input :profile_thumb %>
    <%= f.input :profile_gif %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
