<h1>Listing performers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>White label</th>
      <th>Location</th>
      <th>Avatar</th>
      <th>Location</th>
      <th>Photo</th>
      <th>Profile thumb sdfsdfgdfgdgh</th>
      <th>Profile gif</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @performers.each do |performer| %>
      <tr>
        <td><%= performer.first_name %></td>
        <td><%= performer.white_label_id %></td>
        <td><%= performer.location_id %></td>
        <td><%= performer.avatar %></td>
        <td><%= performer.location %></td>
        <td><%= performer.photo_id %></td>
        <td><%= performer.profile_thumb %></td>
        <td><%= performer.profile_gif %></td>
        <td><%= link_to 'Show', performer %></td>
        <td><%= link_to 'Edit', edit_performer_path(performer) %></td>
        <td><%= link_to 'Destroy', performer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performer', new_performer_path %>
