<section class="span12">                                                              
      <div class="container">
        <div class="row">
          

        <div class="span4 clip btn-dark">
          <%= image_tag('allorders.png') %>
          <span><%= link_to 'My clip sales', orders_path %></span>
        </div>

        <div class="span4 clip btn-dark">
            <%=image_tag('addperformer.png')%>
            <span><%= link_to 'Set your clip prices', performer_path(:id => current_user.performer) %></span>

          </div>
        
          <div class="span4 clip btn-dark">
          <a class="btn-dark" href="#">
            <%= image_tag('make_payments.png') %>
            <span>My payouts</span>
          </a>
        </div>
        

        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/customer/manage">
            <%= image_tag('manage-site.png')%>
            
            <span><%= link_to 'Edit Account & payout details', edit_user_registration_path %></span>
          </a>
        </div>

  
  <!--      <div class="span4 clip btn-dark">
          <a class="" href="http://www.customs4u.com/manage-site">
            <%= image_tag('manage-site.png')%>
            <span>Manage Site</span>
          </a>
        </div>
  
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/performer-sales">
            <%= image_tag('allorders.png') %>
            <span>All Orders</span>
          </a>
        </div>

        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/node/add/make-payment">
            <%= image_tag('make_payments.png') %>
            <span>Make Payouts</span>
          </a>
        </div>

        <div class="span4 clip btn-dark">
          <a class="" href="http://www.customs4u.com/user/1/edit">
            <%= image_tag('Edit_Account.png')%>
            <span>Edit Account</span>
          </a>
        </div>
        
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/dashboard/theme-option">
            <%= image_tag('theme_option.png')%>
            <span>Theme Option</span>
          </a>
        </div>
        
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/subsite/manage">
             <%= image_tag('manage-site.png')%>
            <span>Manage Subsite</span>
          </a>
        </div>
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/admin/people/p2rp-create/siteadmin">
            <%= image_tag('create_subsite.png')%>
            <span>Create Subsite</span>
          </a>
        </div>
        
        <div class="span4 clip btn-dark">
          <a class="btn-dark" href="http://www.customs4u.com/manage/markup">
            <%= image_tag('manage_markup.png')%>
            <span>Manage Markup</span>
          </a>
        </div>-->
        
      </div>
    </div>
  </section>
