<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @performer.first_name %>
</p>

<p>
  <strong>White label:</strong>
  <%= @performer.white_label_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @performer.location_id %>
</p>

<p>
  <strong>Avatar:</strong>
<%= image_tag @performer.avatar_url(:thumb) if @performer.avatar? %>

</p>

<p>
  <strong>Location:</strong>
  <%= @performer.location %>
</p>

<p>
  <strong>Photo:</strong>
<%= image_tag @performer.photo_id_url(:thumb) if @performer.photo_id? %></p>

<p>
  <strong>Profile thumb:</strong>
  <%= image_tag @performer.profile_thumb_url(:thumb) if @performer.profile_thumb? %>
</p>

<p>
  <strong>Profile gif:</strong>
  <%= image_tag @performer.profile_gif_url(:thumb) if @performer.profile_gif? %>
</p>


<% @performer.clip_categories.each do |category| %>
  <div class="clean">
  <%= form_tag "update_amount", :remote => :true do %>
      <%= label_tag "category", category.name, :class => "pull-left" %>
      <%= number_field_tag "amount", @amount, :class => "pull-left" %>
      <%= hidden_field_tag "category", category.id %>
      <%= submit_tag "Update" %>
    <% end %>
  </div>
<% end %>
<%= link_to 'Edit', edit_performer_path(@performer) %> |
<%= link_to 'Back', performers_path %>
